.container {
    position: relative;
    width: 20%;
    height: 20%;
}

.image {
    position: absolute;
    width: 20%;
    height: 20%;

}

.basic {
    width: 20%;
    height: 20%;


}

.border {

    border: 100px solid transparent;
    padding: 20px;
}

.border-1{
    border-image: url('borders/border_1.svg') 20% round;
}

.border-2{
    border-image: url('borders/border_2.svg') 20% round;
}

.border-3{
    border-image: url('borders/border_3.svg') 20% round;
}

.move {

    transform-origin: center;
    animation: move 1s infinite;
    animation-timing-function: linear;

}

.move:hover {

   
    animation: none;
    

}

.move-reverse {

    transform-origin: center;
    animation: move 1s infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.move-reverse:hover {

    animation: none;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }


    100% {
        transform: scale(1);
    }
}