
:root {

    --border-1 :"borders/border_1.svg",
    --border-2 :"borders/border_2.svg",
    --border-3 :'borders/border_3.svg',
    --border-4 :'borders/border_4.svg',
    --border-5 :'borders/border_5.svg',
    --border-6 :'borders/border_6.svg',
    --border-7 :'borders/border_7.svg',
    --border-8 :'borders/border_8.svg',
    --border-9 :'borders/border_9.svg',
    --border-10 :'borders/border_10.svg',
   
  }



.container {
    position: relative;
    width: 20%;
    height: 20%;
}

.image {
    position: absolute;
    width: 20%;
    height: 20%;

}

.basic {
    width: 20%;
    height: 20%;


}

.border {

    border: 100px solid transparent;
  
}

.border-1{
    border-image: url( "borders/border_1.svg") 20% round;
}

.border-2{
    border-image:url( "borders/border_2.svg") 20% round;
}

.border-3{
    border-image: url( "borders/border_3.svg") 20% round;
}

.border-4{
    border-image: url( "borders/border_4.svg") 20% round;
}

.border-5{
    border-image: url( "borders/border_5.svg") 20% round;
}

.border-6{
    border-image: url( "borders/border_6.svg") 20% round;
}

.border-7{
    border-image: url( "borders/border_7.svg") 20% round;
}

.border-8{
    border-image: url( "borders/border_8.svg") 20% round;
}

.border-9{
    border-image: url( "borders/border_9.svg") 20% round;
}

.border-10{
    border-image: url( "borders/border_10.svg") 20% round;
}

.border-11{
    border-image: url( "borders/border_11.svg") 20% round;
}

.border-12{
    border-image: url( "borders/border_12.svg") 20% round;
}

.border-13{
    border-image: url( "borders/border_13.svg") 20% round;
}
.border-14{
    border-image: url( "borders/border_14.svg") 20% round;
}

.move {

    transform-origin: center;
    animation: move 1s infinite;
    animation-timing-function: linear;

}

.move:hover {

   
    animation: none;
    

}

.move-reverse {

    transform-origin: center;
    animation: move 1s infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.move-reverse:hover {

    animation: none;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }


    100% {
        transform: scale(1);
    }
}